/* ttf */
@font-face {
    font-family: "Cloude";
    src: url("../assets/fonts/Cloude_Regular_1.02.ttf") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Cloude";
    src: url("../assets/fonts/Cloude_Regular_Bold_1.02.ttf") format("woff");
    font-style: normal;
    font-weight: 600;
}

/* otf */
@font-face {
    font-family: "Cloude";
    src: url("../assets/fonts/Cloude_Regular_1.02.otf") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Cloude";
    src: url("../assets/fonts/Cloude_Regular_Bold_1.02.otf") format("woff");
    font-style: normal;
    font-weight: 400;
}